body {
  font-family: -apple-system
  ,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  color: dimgrey;
  margin: 15px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.35s ease;
}

.languages li:hover {
  transform: scale(1.2);
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  align-items: center;
}

.space-list-item {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
